
.link-list-3 {
    margin-bottom: 20px;
}
.link-list-3 p {
    padding: 13px 0px 13px 0px;
    margin-bottom:0px !important;
    border: solid 1px rgba(0,0,0,0.07);
}
.free:hover {
  border: solid 1px #8CC152; 
  border-radius: 10px!important;
}
.mild:hover {
    border: solid 1px #2ECC71;
    border-radius: 10px!important;
}
.heavy:hover {
    border: solid 1px #ED5565;
    border-radius: 10px!important;
}
.blocked:hover {
    border: solid 1px #BF263C;
    border-radius: 10px!important;
}
.link-list-3 p i:last-child {
    position: absolute;
    right: 7px;
    line-height: 30px;
    transform: translateY(-50%);
    margin-top: -6px;
    top: 50%;
    font-size: 11px;
    width: 60px;
    text-align: center;
}
.link-list-3 p i:first-child {
    position: absolute;
    left: 10px;
    line-height: 30px;
    margin-top: -1px;
    font-size: 20px;
    transform: translateY(-50%);
    top: 50%;
    width: 30px;
    text-align: center;
}
.text-dark{
   color:  #323133!important;
}
/*spinner */
.loading{
  /*position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
  height:50vh;
  background: transparent;
}
.border-radius{
    border-radius: 10px !important;
}
.spinner {
  /*margin: 100px auto;*/
  /*width: 50px;*/
  /*height: 40px;*/
  /*text-align: center;*/
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -25px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner>p {
  z-index: 999;
  background-color: #4A89DC;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
